/* Contact.css */

body {
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #f4f4f4;
}

.contact-container {
   display: flex;
   justify-content: space-around;
   margin: 30px auto;
   padding: 20px;
   position: relative; /* Ensure relative positioning for overlay */
   background-color: #fff;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-info {
   flex: 1;
   padding: 20px;
   background: url("../components/image1-min.jpeg");
   background-size: cover;
   background-position: center;
   color: #fff;
}

.contact-info::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   z-index: -1; /* Ensure the overlay is behind the text */
}

.contact-info h2,
.contact-info p {
   color: #000000;
   padding: 5px;
   width: 400px;
   border-radius: 6px;
   margin-top: 5px;
   font-size: 22px;
}

.contact-form {
   flex: 1;
   padding: 20px;
}
.address {
   background-color: #ffd5cebd;
   border-radius: 50%;
   height: 350px;
   width: 350px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.address > div {
   text-align: left;
   margin-left: 100px;
}
.contact-form h2 {
   font-size: 24px;
   margin-bottom: 10px;
   color: #333;
}

label {
   font-weight: bold;
   color: #333;
   display: block;
   margin-bottom: 5px;
}

input,
textarea {
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   resize: none;
}

button {
   background-color: #fdfdfd;
   color: #080808;
   padding: 10px 20px;
   border: 1px solid #333;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
   background-color: #1b212a;
   color: white;
   transform: translateY(-5px);
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
@media (max-width: 768px) {
   .contact-container {
      flex-direction: column;
      align-items: center;
   }

   .contact-info,
   .contact-form {
      width: 100%;
   }

   .contact-info::after {
      width: 100%;
   }

   .contact-info h2,
   .contact-info p {
      width: 100%;
   }

   .contact-form {
      padding: 20px;
   }

   .contact-form h2 {
      font-size: 22px;
   }

   label {
      font-size: 16px;
   }

   input,
   textarea {
      width: calc(100% - 20px);
   }

   button {
      width: 100%;
   }
}
