.navbar {
   background-color: white;
   color: #000000;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.navbarWrapper {
   display: flex;
   padding: 15px;
   width: 80%;
   justify-content: space-between;
   align-items: center;
}

.links {
   transition: all 0.5s;
}
.links a {
   text-decoration: none;
   color: black;
   font-weight: 400;
   transition: all 0.5s;
   border-radius: 3px;
   margin: 0 10px;
}

.link:hover {
   background-color: #1b212a;
   color: white;
   transform: translateY(-5px);
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.link {
   padding: 10px;
}

.link:hover {
   cursor: pointer;
}

.logo img {
   width: 150px;
   height: 40px;
   object-fit: contain;
   transition: all 1s;
}

.burger-menu {
   display: none;
   cursor: pointer;
}
.bar {
   width: 25px;
   height: 3px;
   background-color: #333;
   margin: 6px 0;
   transition: 0.4s;
}

.bar1.bar {
   transform: rotate(-45deg) translate(-5px, 6px);
}

.bar2.bar {
   opacity: 0;
}

.bar3.bar {
   transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 900px) {
   .login {
      display: none;
   }
   .links {
      display: flex;
      flex-direction: column;
   }
   .links a {
      margin: 10px 0;
   }
   .links_mobile {
      display: none;
   }
   .burger-menu {
      display: block;
   }
}
