.proiecte {
   background-color: white;
   color: black;
   border-top: 1px solid white;
}
.proiecte > .title {
   text-align: left;
   font-size: 50px;
   background-color: rgb(250, 250, 250);
   margin-left: 35px;
   margin-top: 50px;
   margin-bottom: 20px;
}
.proiecte_wrapper {
   display: flex;
   background-color: rgb(250, 250, 250);
   justify-content: space-around;
   padding: 50px 0 50px 0;
   flex-wrap: wrap;
   gap: 20px;
}

.proiect {
   transition: all 0.4s;
   height: 200px;
   width: 400px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 24px;
   position: relative;
   border-radius: 6px;
   overflow: hidden;
   background-size: cover;
   filter: grayscale(100%);
}

.proiect h1 {
   font-size: 23px;
   padding: 20px;
   position: relative;
   z-index: 2;
   color: white;
}

.proiect:before {
   transition: all 0.5s;
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.597);
   z-index: 1;
}

.proiect:hover:before,
.proiect.proiect_activ:before {
   background: rgba(0, 0, 0, 0);
}

.proiect:hover {
   cursor: pointer;
}

.proiect_activ {
   border-bottom: 20px solid rgb(0, 0, 0);
   -webkit-filter: grayscale(100%);
   filter: brightness(100%);
}

.proiect:hover {
   cursor: pointer;
}

.proiecte_preview {
   display: flex;
   background-color: rgb(223, 132, 132);
   justify-content: space-around;
   padding: 50px;
   border: 4px dashed red;
   margin-top: 20px;
   flex-direction: column;
}
.proiecte_preview button {
   transition: all 0.3s;
   width: 300px;
   padding: 20px;
   margin-top: 10px;
   color: white;
   background-color: #9c9cd0;
   border: none;
   font-size: 18px;
   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.proiecte_preview button:hover {
   cursor: pointer;
   transform: translateY(-5px);
   transform: scale(1.05);
   background-color: #8383ca;
}
.proiecte_preview button:active {
   transform: scale(1);
}

/* DE REZOLVAT IMG BACKGROUND! */

.readmore_wrapper {
   background-size: cover;
   background-position: center;
   min-height: 400px;
   width: 100%;
   display: flex;
   padding: 0 20px; /* Add padding left and right */
   background-color: #ffffff;
   padding-bottom: 100px;
}

.readmore {
   padding: 50px 0; /* Adjust padding top and bottom */
   flex: 1; /* Make the .readmore div take up all available space */
   display: flex;
   background-size: cover;
   background-position: center;
   min-height: 400px;
   width: 100%;
   display: flex;
   padding: 0 20px; /* Add padding left and right */
   background-color: #de8383;
}

.descriere {
   background-color: #1b212ac8; /* Example background color with transparency */
   color: #000; /* Example text color */
   height: 100%;
   width: 30%; /* Set width to 30% of its parent */
   display: flex;
   flex-direction: column;
   padding: 30px; /* Add padding for spacing */
   box-sizing: border-box;
   text-align: left;
   gap: 30px;
}
.descriere h1 {
   color: white;
}
.descriere_titlu {
   margin: 30px 0;
   font-size: 40px;
   color: white;
}

.descriere_text {
   font-size: 18px;
   line-height: 25px;
   color: white;
}
