.singleProductContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   margin: 30px auto;
   padding: 20px;
   position: relative;
   background-color: #fff;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
   background: #1b212a;
   background: -webkit-linear-gradient(to right, #ffffff, #1b212a14);
   background: linear-gradient(to right, #ffffff, #1b212a14);
}

.productInfo {
   flex: 1;
   padding-right: 20px;
}

.productInfo h1 {
   font-size: 40px;
   margin-bottom: 10px;
   color: #333;
}

.productInfo p {
   font-size: 16px;
   color: #666;
   margin-bottom: 15px;
}

.productImage,
.gallery {
   flex: 1;
}

.productImg,
.galleryImg {
   max-width: 100%;
   height: auto;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   margin-bottom: 15px;
   border: 1px solid rgba(255, 255, 255, 0.714);
}
.galleryImg,
.productImg:hover {
   cursor: pointer;
}
.gallery {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.galleryImg {
   width: 48%; /* Adjust the width based on your design */
}

.dot {
   background-color: #ffd5ce;
   border-radius: 50%;
   padding: 10px;
   width: 50px;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}

@media (max-width: 768px) {
   .singleProductContainer {
      flex-direction: column;
   }

   .productInfo {
      padding-right: 0;
   }

   .productInfo h1 {
      font-size: 28px;
      margin-bottom: 10px;
   }

   .productInfo p {
      font-size: 14px;
      margin-bottom: 10px;
   }

   .galleryImg {
      width: 100%; /* Full width for mobile */
   }

   .dot {
      margin-bottom: 10px;
   }
}
