* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   background-color: white;
   font-family: sans-serif;
   margin: 0;
}

.navbar {
   background-color: white;
   color: #000000;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.navbarWrapper {
   display: flex;
   padding: 15px;
   width: 80%;
   justify-content: space-between;
   align-items: center;
}

.links {
   display: flex;
   gap: 40px;
}

.link {
   padding: 10px;
}

.link:hover {
   cursor: pointer;
}

.logo img {
   width: 150px;
   height: 40px;
   object-fit: contain;
}

.main {
   margin: 0 auto;
   background-color: #1b212a;
   text-align: center; /* Center the image horizontally */
   position: relative;
   overflow: hidden;
}
.main h1 {
   color: white;
   font-size: 50px;
   transform: rotate(270deg);
   position: fixed;
   left: -240px;
   top: 320px;
}
.main img {
   display: block; /* Ensure the image is treated as a block element */
   margin: 0 auto; /* Center the image horizontally within the container */
   width: 80%; /* Set your preferred width for the container */
   height: auto; /* Maintain the aspect ratio of the image */
}

.proiecte {
   border: 2px solid black;
}

.proiecte_wrapper {
   display: flex;
   background-color: rgb(223, 132, 132);
   justify-content: space-around;
   padding: 50px 0 50px 0;
   flex-wrap: wrap;
   gap: 20px;
}

.proiect {
   height: 200px;
   width: 400px;
   background-color: rgb(156, 156, 208);
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
   color: white;
   font-size: 24px;
}
.proiect_active {
   height: 200px;
   width: 400px;
   background-color: rgb(156, 156, 208);
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
   border-bottom: 15px solid rgb(238, 224, 201);
}
.proiect:hover {
   cursor: pointer;
}

.proiecte_preview {
   display: flex;
   background-color: rgb(223, 132, 132);
   justify-content: space-around;
   padding: 50px;
   border: 4px dashed red;
   margin-top: 20px;
   flex-direction: column;
}
.proiecte_preview button {
   transition: all 0.3s;
   width: 300px;
   padding: 20px;
   margin-top: 10px;
   color: white;
   background-color: #9c9cd0;
   border: none;
   font-size: 18px;
   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.proiecte_preview button:hover {
   cursor: pointer;
   transform: translateY(-5px);
   transform: scale(1.05);
   background-color: #8383ca;
}
.proiecte_preview button:active {
   transform: scale(1);
}

/* DE REZOLVAT IMG BACKGROUND! */

.readmore_wrapper {
   background-size: cover;
   background-position: center;
   min-height: 400px;
   width: 100%;
   display: flex;
   padding: 0 20px; /* Add padding left and right */
   background-color: #de8383;
   padding-bottom: 100px;
}

.readmore {
   padding: 50px 0; /* Adjust padding top and bottom */
   border-radius: 30px; /* Add border-radius */
   flex: 1; /* Make the .readmore div take up all available space */
   display: flex;
   background-size: cover;
   background-position: center;
   min-height: 400px;
   width: 100%;
   display: flex;
   padding: 0 20px; /* Add padding left and right */
   background-color: #de8383;
}

.descriere {
   background-color: #1b212ac8; /* Example background color with transparency */
   color: #000; /* Example text color */
   height: 100%;
   width: 30%; /* Set width to 30% of its parent */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 30px; /* Add border-radius to match .readmore */
   padding: 20px; /* Add padding for spacing */
   box-sizing: border-box;
}
.descriere_titlu {
   margin: 30px 0;
   font-size: 40px;
   color: white;
}

.descriere_text {
   font-size: 18px;
   line-height: 25px;
   color: white;
}
